<div class="ui stackable one column grid computer only ">
  <div class="column middle aligned">
    <h1 class="description">Tables réglables en hauteur </h1> <br> <div class="description-details"> Ajuster la hauteur du plan de travail en fonction de vos besoins et prévenez ainsi les douleurs musculaires et vertébrales </div>
  </div>
</div>
<div class="ui stackable one column grid mobile only tablet only">
  <div class="column middle aligned">
    <h1 class="description">Tables réglables en hauteur </h1> <br> <div class="description-details-mobile"> Ajuster la hauteur du plan de travail en fonction de vos besoins et prévenez ainsi les douleurs musculaires et vertébrales </div>
  </div>
</div>


<div class="ui doubling two column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/table-1.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/table-2.jpg"/>
  </div>
</div>

<div class="ui stackable one column grid" style="margin-bottom: 2em">
  <div class="column middle aligned">
    <h1 class="description-table centered">Réglage électrique ou manuel </h1>
  </div>
</div>


<div class="ui doubling three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position-hauteur" src="assets/hauteur-1.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position-hauteur" src="assets/hauteur-2.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position-hauteur" src="assets/hauteur-3.jpg"/>
  </div>
</div>


<div class="ui divider"></div>

<div class="ui stackable one column grid" style="margin-bottom: 2em">
  <div class="column middle aligned">
    <h1 class="description-table centered">Support réglable sur bureau existant</h1>
  </div>
</div>

<div class="ui one column grid container">
  <div class="column middle aligned ">
    <img class="ui fluid image centered" src="assets/table-accessoire.jpg" style="max-width: 75em" />
  </div>

</div>
<div class="ui one column grid container">
    <div class="column middle aligned ">
    <h1 class="description-table centered" >Alterner la position assise et debout pendant le travail permet une plus grande variation de la posture tout au long de la journnée. Cela se traduit par moins d'inconfort du dos, du cou et des épaules.</h1>
  </div>
</div>

<div class="ui stackable three column grid" style="margin-top: 1em">
  <div class="column middle aligned">
    <img class="ui fluid image centered" src="assets/table-acc-1.jpg" style="max-width: 40em"/>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered" src="assets/table-acc-2.jpg" style="max-width: 40em"/>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered" src="assets/table-acc-3.jpg" style="max-width: 40em"/>
  </div>
</div>

<div class="ui one column grid container" style="margin-top: 2em;margin-bottom: 2em">
  <div class="column middle aligned ">
    <img class="ui fluid image centered" src="assets/table-size.jpg" style="max-width: 40em" />
  </div>

