<div class="ui segment container" id="segment-position">
  <div class="ui one column grid ">

    <div class="column middle aligned">
      <div class="image">
        <img class="ui fluid image centered logo-image" src="/assets/logo_mobylis.jpg">
      </div>
    </div>
  </div>

  <div class="ui one column grid ">
    <div class=" ui one column grid ">
      <div class="column middle aligned">
        <div class="text-mobile">2 Allée de la Combe</div>
        <div class="text-mobile">Semanet 1</div>
        <div class="text-mobile">69380 Lissieu</div>
      </div>
    </div>
  </div>


  <div class="ui stackable one column grid ">
    <div class="column middle aligned">
      <h1 class="ui text-centered"><i class="mail icon"></i>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=mobylis@orange.fr">mob<span class="y-color">y</span>lis@orange.fr</a>
      </h1>
      <h2 class="ui phone-centered"><i class="mobile icon"></i> 06 69 50 00 82</h2>
      <h2 class="ui phone-centered"><i class="phone icon"></i> 04 78 66 24 50</h2>
      <h2 class="ui phone-centered"><i class="fax icon"></i> 04 78 47 47 45</h2>
    </div>
  </div>

</div>

