<div class="ui one column grid container title-siege">
  <div class="column middle aligned">
    Toutes notre expertise dans nos sièges <br>
    Plusieurs gammes pour différents besoins
  </div>
</div>

<h1 class="ui horizontal divider size-divider">
  gamme environnement médical
</h1>

<div class="ui doubling four column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-1.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-2.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-3.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/siege-medicale-4.jpg"/>
  </div>
</div>
<div class="ui one column grid container ">
  <div class="column middle aligned description">
    Des sièges étudiés pour les pathologies suivantes : arthrose, sciatique, douleurs lombaires, douleurs vertébrale et problèmes de hanches et de genoux. <br>
  </div>
</div>

<h1 class="ui horizontal divider size-divider">
  gamme 24/7
</h1>

<div class="ui doubling three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/24-2.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/24-1.jpg"/>
  </div>
  <div class="column middle aligned computer only grid">
    <img class="ui fluid image centered image-position" src="assets/24-3.jpg"/>
  </div>
</div>
<div class="ui one column grid tablet only mobile only" id="margin-top">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/24-3.jpg"/>
  </div>
</div>


<div class="ui one column grid container ">
  <div class="column middle aligned description">
    La gamme 24/7 permet d'offrir un niveau de confort optimal et constant pour les sièges utilisés 24h/24 7j/7.
  </div>
</div>

<h1 class="ui horizontal divider size-divider">
  gamme design en mouvement
</h1>

<div class="ui doubling five column grid margin-bottom">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/B33.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/B33-2.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/B33-3.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/B33-4.jpg"/>
  </div>
  <div class="column middle aligned computer only grid">
    <img class="ui fluid image centered image-position" src="assets/B33-5.jpg"/>
  </div>
</div>
<div class="ui one column grid margin-bottom tablet only mobile only">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/B33-5.jpg"/>
  </div>
</div>

<div class="ui stackable three column grid container margin-bottom">

  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/hag-capisco-1.jpg"/>
  </div>

  <div class="column middle aligned " >
   <div class="description">Créez le mouvement en position assise.</div>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position" src="assets/hag-capisco-2.jpg"/>
  </div>
</div>
