<div class="ui stackable menu menu-font">
  <a routerLink="/" routerLinkActive="active" class="item" id="logo-background">
    <img class="ui medium centered image " src="/assets/logo_mobylis.png">
  </a>
  <a class="item ui header" routerLink="/siege" routerLinkActive="active">Sièges</a>
  <a class="item ui header" routerLink="/table" routerLinkActive="active">Tables</a>
  <a class="item ui header" routerLink="/accessoires" routerLinkActive="active">Accessoires</a>
  <a class="item ui header" routerLink="/prestation" routerLinkActive="active">Prestations</a>
  <a class="item right ui header" routerLink="/contact" routerLinkActive="active">Nous Contacter</a>
</div>

<router-outlet></router-outlet>

<div id="footer-color">
  <div class="ui two column container grid footer-link-font">

    <div class="column middle aligned " id="column-position">
      <a routerLink="/" routerLinkActive="active">Accueil</a> <br>
      <a routerLink="/siege" routerLinkActive="active">Sièges</a><br>
      <a routerLink="/table" routerLinkActive="active">Tables</a><br>
      <a routerLink="/accessoires" routerLinkActive="active">Accessoires</a><br>
      <a routerLink="/prestation" routerLinkActive="active">Prestations</a><br>
      <a routerLink="/contact" routerLinkActive="active">Nous Contacter</a>
    </div>

    <div class="column middle aligned">
      <a routerLink="/" routerLinkActive="active">Qui sommes nous</a> <br>
      <a routerLink="/mentionslegales" routerLinkActive="active">Mentions légales</a><br>
    </div>

  </div>
</div>

<div class="bottom"></div>
