<div class="ui segment one column grid container">
  <div class=" column middle aligne legacy-position">
    <h2>Mentions Légales</h2>

    <h3>Confidentialité</h3>
    <p>MOBYLIS n'enregistre pas d'informations personnelles permettant l'identification.</p>

    <p>Les informations recueillies sur les sites bénéficient de la protection de la loi "Informatique et Libertés" n°
      78-17 du 06 janvier 1978. Elles bénéficient d'un droit d'accès, de rectification, d'opposition à communication et
      de suppression sur simple demande à MOBYLIS, 4 Allée de la Combe , 69380 LISSIEU.</p>

    <p>MOBYLIS pourra procéder à des analyses statistiques sans que celles-ci soient nominatives et pourra en informer
      des tiers (organismes d'évaluation de fréquentation) sous une forme résumée et non nominative.</p>

    <h3>Utilisation de cookies</h3>
    <p>La gestion des commandes nécessite l'utilisation de cookies. Des informations non personnelles sont enregistrées
      par ce système de cookies (fichiers texte utilisés pour reconnaître un utilisateur et ainsi faciliter son
      utilisation du site). Ceux-ci n'ont aucune signification en dehors de leur utilisation sur le site
      www.mobylis.fr</p>

    <h3>Liens hypertexte</h3>
    <p>MOBYLIS ne contrôle pas les sites en connexion avec le sien, et ne saurait donc être responsable de leur contenu.
      Les risques liés à l'utilisation de ces sites incombent pleinement à l'utilisateur. Il se conformera à leurs
      conditions d'utilisation.</p>


    <h3>EDITEUR DU SITE</h3>

    Big Dora <br>
    35 rue Saint Georges<br>
    69005 Lyon<br>
    France<br>
    Tél. : + 33 (0)6 29 61 77 67<br>
    Status : à venir<br>
  </div>
</div>
