<h4 class="ui horizontal divider">
  <img class="ui image medium centered" src="assets/mouse.svg"/>
  Souris
</h4>

<div *ngFor="let row of rows">

  <div class="ui stackable two column grid">
    <div class="column">
      <img class="ui fluid image centered image-position-large" src="{{row.src}}"/>
    </div>
    <div class="column middle aligned">
      <h1 class="description">{{row.text}}</h1>
    </div>
  </div>

  <div class="ui stackable two column grid">
    <div class="column">
      <img class="ui fluid image centered image-position" src="assets/articulation-souris-1.jpg"/>
    </div>
    <div class="column">
      <img class="ui fluid image centered image-position" src="assets/articulation-souris-2.jpg"/>
    </div>
  </div>

  <div class="ui stackable one column grid">
    <div class="column middle aligned" >
      <h1 class="description">Plusieurs modèles pour différentes inclinaisons</h1>
    </div>
  </div>



  <div class="ui stackable three column grid">
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-1.jpg"/>
    </div>
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-2.jpg"/>
    </div>
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-3.jpg"/>
    </div>
  </div>

  <div class="ui stackable one column grid">
    <div class="column middle aligned">
      <h1 class="description">Souris centrales : tension minimale au niveau des épaules, travailler avec un maximun de confort</h1>
    </div>
  </div>



  <div class="ui stackable three column grid">
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-centrale-1.jpg"/>
    </div>
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-centrale-2.jpg"/>
    </div>
    <div class="column middle aligned ">
      <img class="ui fluid centered image image-three " src="assets/mouse-centrale-3.jpg"/>
    </div>
  </div>

</div>


<h4 class="ui horizontal divider">
  <img class=" ui image tiny centered" src="assets/laptop.svg"/>
  Positionnement
</h4>

<div class="ui stackable three column grid">
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/document-helder-11.jpg"/>
  </div>
  <div class="column middle aligned">
    <h2 class="description">Support documents, gardez la tête haute</h2>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/document-helder-22.jpg"/>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column">
    <img class="ui fluid image centered image-position" src="assets/bakker.jpg"/>
  </div>
  <div class="column">
    <img class="ui fluid image centered image-position" src="assets/holder.jpg"/>
  </div>
</div>


<div class="ui stackable three column grid">
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/bakker-dont.jpg"/>
  </div>
  <div class="column middle aligned">
    <h1 class="description">Support ordinateur, travaillez avec votre portable confortablement</h1>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/bakker-do.jpg"/>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/support-laptop-2.jpg"/>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/support-laptop.jpg"/>
  </div>
</div>


<div class="ui stackable three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid centered image  image-position" src="assets/space-arm-dont.jpg"/>
  </div>
  <div class="column middle aligned">
    <h1 class="description">Bras support écran </h1>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-position  " src="assets/space-arm-do.jpg"/>
  </div>
</div>


<div class="ui stackable three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-three " src="assets/screen-arm-1.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-three " src="assets/screen-arm-2.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-three " src="assets/screen-arm-3.jpg"/>
  </div>
</div>


<h4 class="ui horizontal divider">
  <img class="ui image tiny centered" src="assets/footsteps.svg"/>
  Repose-pieds
</h4>

<div class="ui stackable three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-position " src="assets/hag-dual.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-position " src="assets/hag-quick.jpg"/>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid centered image image-position " src="assets/hag-setup.jpg"/>
  </div>
</div>
<div class="ui stackable one column grid">
  <div class="column middle aligned">
    <h1 class="description">Une large gamme de repose-pieds pour trouver celui qu'il vous faut </h1>
  </div>
</div>

<h4 class="ui horizontal divider">
  <img class="ui image tiny centered" src="assets/hold.svg"/>
  Repose-poignets et bras
</h4>
<div class="ui stackable three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position " src="assets/repose-poignets.jpg"/>
  </div>
  <div class="column middle aligned">
    <h1 class="description">Repose-poignets pour soulager vos articulations</h1>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position " src="assets/repose-poignets-2.jpg"/>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/support-1.jpg"/>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/support-2.jpg"/>
  </div>
</div>

<div class="ui stackable three column grid">
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position " src="assets/arm-1.jpg"/>
  </div>
  <div class="column middle aligned">
    <h1 class="description">Repose-bras prévenant ainsi les douleurs cervicales </h1>
  </div>
  <div class="column middle aligned ">
    <img class="ui fluid image centered image-position " src="assets/arm-2.jpg"/>
  </div>
</div>

<div class="ui stackable two column grid">
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/arm-3.jpg"/>
  </div>
  <div class="column middle aligned">
    <img class="ui fluid image centered image-position" src="assets/arm-5.jpg"/>
  </div>
</div>

<div style="margin-bottom: 2em"></div>

<div class="ui one column grid container ">
  <div class="column middle aligned description">
    Retrouvez tous nos produits <a href="https://www.bakkerelkhuizen.fr/produits/">ici</a>.
  </div>
</div>

